<table>
  <tbody>
    <tr>

      <th>brand</th>

    </tr>
    <ng-container *ngFor="let item of productsHtml">
      <ng-container>
        <tr
          (click)="selectedProduct=item"
          class="item_row">

          <td (click)="BrandClick(item.brand)">{{item.brand}}</td>

        </tr>

        <!-- <li (click)="selectedProduct=item">id = {{item.id}}, {{item.brand}}, price = {{item.price}}, stock = {{item.stock}}, total = {{item.stock +item.price}} -->
        <!-- </li> -->
      </ng-container>

    </ng-container>

  </tbody>
</table>

<!-- https://dummyjson.com/products -->
