<!-- --------- searchbox ------------------------ -->
<input
  type="text"
  class="form-control"
  placeholder="Search"
  [(ngModel)]="filteredString"
  (ngModelChange)="inputChange()">
<br>
<!-- -------------------------------------------- -->

<!-- --------- checkboxes for sorting------------ -->
sort by brand:
<input
  type="checkbox"
  [(ngModel)]="sortByBrand"
  (ngModelChange)="sorting()">
<br>
sort by price:
<input
  type="checkbox"
  [(ngModel)]="sortByPrice"
  (ngModelChange)="sorting()">
<br>
sort by stock qty:
<input
  type="checkbox"
  [(ngModel)]="sortByStock"
  (ngModelChange)="sorting()">
<!-- -------------------------------------------- -->

<!-- Error message------------------------------- -->
<div *ngIf="!sortingError">
  <br>
</div>
<div
  style="color:red"
  *ngIf="sortingError">
  More than one checkboxes picked
</div>
<!-- -------------------------------------------- -->

<!-- --------- table ---------------------------- -->
<div class="table">
  <!-- display brand -->
  <app-multiple-api [productsHtml]="productsHtml"></app-multiple-api>
  <!-- price and stock -->
  <app-pricelist [productsHtml]="productsHtml"></app-pricelist>
  <!-- -------------------------------------------- -->
</div>
